[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = [
  "npm install --ignore-scripts",
  "cd client && npm install",
  "cd backend && npm install"
]
cacheDirectories = [
  "node_modules",
  "client/node_modules",
  "backend/node_modules"
]

[phases.build]
cmds = [
  "cd client && NODE_OPTIONS=--max-old-space-size=4096 CI=false npm run build"
]

[start]
cmd = "node backend/server.js"
